{% load i18n %}

{% include "a4_candy_learning_nuggets/includes/learning_header.html" %}

<article class="learning-content">
    <ul class="u-list-reset">
        {% for category in categories %}
            <li>
                <article>
                    <h2 class="learning-content__title learning-content__title--md">
                        <a href="{% url 'learning_nuggets:category' category_slug=category.slug %}" 
                        class="u-no-underline"
                        {% if is_ajax %} data-sidebar{% endif %}>
                            {{ category.name }}
                        </a>
                    </h2>
                    <p>{{ category.description }}</p>
                </article>
            </li>
        {% empty %}
            <li>{% translate 'No categories available.' %}</li>
        {% endfor %}
    </ul>
</article>