<style>
.loading-spinner {
    display: none;
}
.htmx-request .hide-when-loading {
    display: none;
}
.htmx-request .loading-spinner {
    display: block !important;
}
</style>

<script>
    document.body.addEventListener('htmx:afterSwap', function(evt) {
    if (evt.detail.target.id === 'summary-content') {
        const summaryContent = document.getElementById('summary-content');
        const summaryCard = document.getElementById('summary-card');
        
        if (summaryContent && summaryContent.innerHTML.trim() !== '') {
            summaryCard.style.display = 'none';
        }
    }
});
</script>
{% load i18n %}

<!-- Summary section -->
<div id="summary-card" class="summary-prompt-card" hx-indicator="this">
    <div class="hide-when-loading">
        <div class="summary-text">
            <strong class="summary-title">{% trans 'Summary of Participation' %}</strong>
            <p class="summary-description">{% trans 'Automatically generate overview of the most important themes, voices and insights.' %}</p>
        </div>
        <div class="summary-button">
            <button hx-get="{% url 'project-generate-summary' organisation_slug=project.organisation.slug slug=project.slug %}" 
                    hx-target="#summary-content"
                    class="btn btn--summary ">
                <i class="fa fa-wand-magic-sparkles mr-2"></i> {% trans 'Summarise with AI' %}
            </button>
        </div>
    </div>
    <div class="htmx-indicator loading-spinner">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="a4-sr-only">Loading...</span>
        </div>
        <span class="ml-2">Generating AI summary...</span>
    </div>
</div>
<div id="summary-content" class="summary__container"></div>