{% load wagtailcore_tags %}

<div class="sidebar-breadcrumb">
    <a href="{% url 'learning_nuggets:index' %}" class="breadcrumb-link" data-sidebar>Home</a>
    <span> &gt; </span>
    <a href="{% url 'learning_nuggets:category' category_slug=nugget.category.slug %}" 
       class="breadcrumb-link" 
       data-sidebar>
        {{ nugget.category.name }}
    </a>
    <span> &gt; </span>
    <span class="breadcrumb-current">{{ nugget.title }}</span>
</div>

{% include "includes/nugget_detail.html" %}