.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.3 * $spacer 0;
    margin: $spacer (-$spacer);

    position: relative;

    min-height: $hero-height-mobile;

    @media (min-width: $breakpoint) {
        min-height: ($hero-height-mobile + $hero-height-secondary) / 2;
        margin: $spacer 0;
    }

    @media (min-width: $breakpoint-md) {
        min-height: $hero-height;
    }

    @media print {
        padding-top: 0;
    }
}

.project-header__tabs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -(2 * $spacer);
    display: flex;
    z-index: 1;
    justify-content: flex-end;
}

.project-header__title {
    overflow-wrap: break-word;

    @media print {
        padding-top: 0;
    }
}

.project-header--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: contrast-color($print-black);

    .project-header__title,
    .project-header__description {
        text-shadow: 1px 1px 5px $print-black;
    }

    &:before {
        content: "";
        position: absolute;
        inset: 0;

        background-color: rgba($black, 0.5);
    }

    @media print {
        min-height: 0;
        color: $print-black;
        background-image: none !important;

        &:before {
            content: none;
        }
    }

    .btn--following,
    .btn--follow {
        color: $white;
    }

    .tab {
        color: $white;
        text-shadow: 1px 1px 5px $print-black;

        &:focus,
        &:hover {
            color: $white;
        }

        &.active {
            color: $text-color;
            text-shadow: none;
        }
    }
}

.project-header__link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-sm;

    &:focus,
    &:hover {
        color: inherit;
    }
}

.project-header__logo {
    border: 1px solid $border-color;
}

@media (min-width: $breakpoint) {
    .project-header__logo-wrapper {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    .project-header__logo {
        flex: 0 0 auto;
        margin-right: $padding;
    }

    .project-header__logo-body {
        flex: 1 1 auto;
        align-self: center;
    }
}

.summary-prompt-card {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.375rem;
    width: 80%;
    margin: auto;
}

.summary-text {
    width: 75%;
    padding-right: 2rem;
}

.summary-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.summary-description {
    margin-bottom: 0;
}

.summary-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 1em;

    > button {
        margin: auto;
    } 
}

.summary {
    &__header {
       text-decoration: none !important;
        border-bottom: 0;
        padding-top: 1em;
    }

    &__header-text {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__accordion {
        border-top: 0;
    }

    &__results-link {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        > i {
            color: $deep-ocean;
        }
    }

    &__accordion:last-child {
        border-bottom: 0;
    }

    &__title {
        font-size: 1.75rem;
        font-weight: bold;
        text-decoration: none !important;
    }

    &__container {
        width: 90%;
        margin: auto;
        padding: 1rem;
        border: 1px solid $silver-fog;
        border-radius: 0.375rem;
    }

    &__container:empty {
        height: 0;
        border: 0;
    }

    &__section-container {
        border-top: 1px solid grey;
        margin-top: 0.5em;
        padding-top: 1em;
    }

    &__stats {
        background-color: $liqd-blue;
        font-size: 1.5rem;
        
        .row {
            min-height: 100px;
            align-items: center;
        }
        
        &-number {
            color: $deep-ocean;
            margin-bottom: 0; 
            line-height: 1.2;
        }

        &-text {
            font-size: 1rem;
            line-height: 1.2;
            margin-top: -0.25rem; 
        }
    }

    &__see-more {
        background-color: $liqd-blue;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        > i {
            color: $deep-ocean;
        }

        > span {
            display: flex;
            align-items: center;
            gap: 0.5rem; 
        }
    }

    &__section-header {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__section-accordion-title {
        border-bottom: 0;
        text-decoration: none;
        padding: 0;
        padding-bottom: 1rem;
    }
}

.module-summary {
    &__header-text {
        font-weight: bold;
        font-size: 1.5rem;
    }

    &__icon {
        filter: invert(32%) sepia(40%) saturate(1939%) hue-rotate(185deg) brightness(90%) contrast(87%);
    }

    &__goals {
        padding-top: 0.5rem;
    }

    &__container {
        border-top: 1px solid $silver-fog;
        padding-top: 1em;
    }

    &__link {
        color: $deep-ocean;
        font-weight: bold;
    }
}

.summary-error{
    &__container {
        text-align: center;
    } 

    &__header {
        font-size: 1.5em;
        font-weight: bold;
    }

    &__text {
        font-size: 1em;
    }
   
    &__report {
        font-size: 1em;
    } 

}


.fa-sort-down {
    transition: transform 0.3s ease;
    display: inline-block;
    transform-origin: center center;
}

/* When NOT collapsed (open by default) - arrow points up */
.accordion__title:not(.collapsed) .fa-sort-down {
    transform: rotate(180deg);
    margin-top: 0.25em;
}

/* When collapsed (after clicking) - arrow points down */
.accordion__title.collapsed .fa-sort-down {
    transform: rotate(0deg);
}